name: Integration test for Kubernetes DNS

on:
  pull_request:
  push:
    branches:
      - main
      - release-*
    tags-ignore: [ v.* ]
  schedule:
    - cron: '0 2 * * *'  # every day 2am

jobs:
  integration-test:
    name: Integration Tests for Kubernetes DNS
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-management'
    strategy:
      fail-fast: false    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Setup Java 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Install sbt
        uses: sbt/setup-sbt@26ab4b0fa1c47fa62fc1f6e51823a658fb6c760c

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6

      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@b589f2d61bf96695c546929c72b38563e856059d
        with:
          minikube version: 'v1.27.1' # based on k8s v1.25.2
          kubernetes version: 'v1.25.2'
          driver: docker
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: '--addons=ingress'

      - name: Run Integration Tests
        run: |-
          ./integration-test/kubernetes-dns/test.sh

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
