name: Integration test for Kubernetes Lease

on:
  pull_request:
  push:
    branches:
      - main
      - release-*
    tags-ignore: [ v.* ]
  schedule:
    - cron: '0 2 * * *'  # every day 2am

jobs:
  integration-test:
    name: Integration test for Kubernetes Lease
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-management'
    strategy:
      fail-fast: false    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Install sbt
        uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Coursier cache
        uses: coursier/cache-action@c5ca79321d170b8a18c288d9cadc2a6037166d0f # v8.0.0

      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@b589f2d61bf96695c546929c72b38563e856059d # v2.14.0
        with:
          minikube version: 'v1.36.0'
          kubernetes version: 'v1.29.15'
          driver: docker
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: '--addons=ingress'

      - name: Run Integration Tests
        timeout-minutes: 15
        run: |-
          echo 'Creating namespace'
          kubectl create namespace lease
          echo 'Creating resources'
          kubectl apply -f ./lease-kubernetes/lease.yml
          echo 'Adding proxy port'
          kubectl proxy --port=8080 &
          echo 'Running tests'
          sbt ";lease-kubernetes-int-test/test"
          ./lease-kubernetes-int-test/test.sh job.yml
          ./lease-kubernetes-int-test/test.sh job-native.yml

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
