name: Link Validator

permissions: {}

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  validate-links:
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-management'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Install sbt
        uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15

      - name: Cache Coursier cache
        uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0

      - name: Setup Coursier
        uses: coursier/setup-action@f7be3eb3dcef84a4e16fc8cd75c87beb2e5cbcc9 # v2.0.2

      - name: Create the Pekko site
        run: sbt "unidoc; docs/paradox"

      - name: Run Link Validator
        run: cs launch net.runne::site-link-validator:0.2.5 -- scripts/link-validator.conf
